title: Alauda support for PostgreSQL
logoText: Alauda support for PostgreSQL
lang: en
api:
  crds:
    - docs/shared/crds/*.yaml
  openapis:
    - docs/shared/openapis/*.json
permission:
  functionresources:
    - docs/shared/functionresources/*.yaml
  roletemplates:
    - docs/shared/roletemplates/*.yaml
releaseNotes:
  queryTemplates:
    mw-pg-v4.2.0-fixed: |
      filter = 16502 AND status in (Done, Resolved) AND (labels not in (安全问题) OR labels is EMPTY) AND project = MIDDLEWARE AND Feature = "MiddleWare - PostgreSQL"   AND fixVersion = PG-v4.2.0    AND ReleaseNotesStatus = Publish
    mw-pg-v4.2.0-known: |
      filter = 18959 AND status in (Done, Resolved) AND (labels not in (安全问题) OR labels is EMPTY) AND project = MIDDLEWARE AND Feature = "MiddleWare - PostgreSQL"   AND fixVersion = PG-v4.2.0    AND ReleaseNotesStatus = Publish
